html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }

  body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

  .carousel-inner > .carousel-item {
    height: 400px;
    border-radius: 20px;
    font-size: 40px;
  }
  
.content
{
    overflow-x: auto;
    text-align: center;
    margin-top: 6rem
}

nav {
    background-color: #db0000;
    border-radius: 0px 0px 30px 30px;
}

.bottom-nav {
  border-radius: 60px
}

p {
    font-family: cursive;
    color: white;
}

.btn-primary {
    background-color: #ea4335 !important;
    border-color: #ea4335!important;
}

.btn-primary:hover {
    background-color: #ef0000e5!important;
    border-color: #ef0000e5!important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #ee0000d0!important;
}

.form-control {
  background-color: transparent;
  border: 1px solid #da4343;
}

.form-control:focus {
    background-color: transparent;
    border-color: #ef000099;
    box-shadow: 0 0 0 0.1rem #ef000099;
}
